aws/state_machine.json
{
  "Comment": "Remembrall-StateMachine",
  "StartAt": "WaitState",
  "States": {
    "WaitState": {
      "Type": "Wait",
      "Next": "ChoiceState",
      "SecondsPath": "$.timeDelay"
    },
    "ChoiceState": {
      "Type": "Choice",
      "Default": "FailState",
      "Choices": [
        {
          "Next": "EmailOnlyState",
          "Variable": "$.notificationType",
          "StringEquals": "email"
        },
        {
          "Next": "SMSOnlyState",
          "Variable": "$.notificationType",
          "StringEquals": "sms"
        },
        {
          "Next": "EmailAndSMSState",
          "Variable": "$.notificationType",
          "StringEquals": "both"
        }
      ]
    },
    "EmailOnlyState": {
      "Type": "Task",
      "Next": "EndState",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${EmailSenderLambdaFunction.Arn}",
        "Payload": {
          "Input.$": "$"
        }
      }
    },
    "SMSOnlyState": {
      "Type": "Task",
      "Next": "EndState",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": {
          "Input.$": "$.message"
        },
        "PhoneNumber": "$.phoneNumber"
      }
    },
    "EmailAndSMSState": {
      "Type": "Parallel",
      "Next": "EndState",
      "Branches": [
        {
          "StartAt": "ParallelEmailState",
          "States": {
            "ParallelEmailState": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "Payload": {
                  "Input.$": "$"
                },
                "FunctionName": "${EmailSenderLambdaFunction.Arn}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "ParallelSMSState",
          "States": {
            "ParallelSMSState": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "Message": {
                  "Input.$": "$.message"
                },
                "PhoneNumber": "$.phoneNumber"
              },
              "End": true
            }
          }
        }
      ]
    },
    "FailState": {
      "Type": "Fail",
      "Error": "DefaultStateError",
      "Cause": "No state to select"
    },
    "EndState": {
      "Type": "Pass",
      "End": true
    }
  }
}
